<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
    <!-- bradcam_area  -->


    <div class="job_details_area">

        <div class="container">
            <h1>Prenotazione: {{ name }}</h1>
            <h3>Data: {{ date }}</h3>
            <h3>Ora: {{time}}</h3>
            <h3>Numero di persone: {{ Npersone }}</h3>

             {% for o in ord %}
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="apply_job_form white-bg">


                           <div class="col-sm-3">
                               </div>
                           <div class="col-sm-6">
                               <h4 class="">{{o.piatto.name}}</h4>
                               <p><i>{{o.piatto.description}}</i></p>

                              <p style="color: red;">Prezzo :{{o.piatto.price}}€</p>

                            </div>

                            <div class="col-sm-3">
                               </div>



                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    {% endblock body %}






</body>
</html>