
{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %} 
    <!-- bradcam_area  -->


    <div class="job_details_area">

        <div class="container">
             {% for p in piat %}

            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="apply_job_form white-bg">

                       <div class="row">

                           <div class="col-sm-8">
                                <div class="card">
                                     <div class="card-body">
                                        <h5 class="card-title">{{p.name}}</h5>
                                            <p class="card-text">{{p.description}}</p>
                                            <p class="card-text">{{p.name}}</p>
                                            <p class="card-text" style="color:red">{{p.price}}</p>
                                            <a href="{% url 'prenota' %}" class="btn btn-primary">Prenota ora</a>

                                    </div>
                                </div>
                           </div>
                           <div class="col-sm-4">
                               {% if prodcut_detail.PRDImage %}
                                <img src="{{ p.PImage.url }}" class="img-fluid" alt="">
                               {% endif %}
                           </div>

</div>

                    </div>
                </div>
            </div>
             {% endfor %}
        </div>
    </div>

    {% endblock body %}





 